## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import warnings
import re
import ast
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
warnings.filterwarnings('ignore')

In [ ]:
pd.describe_option('display.max.columns', None)
pd.describe_option('display.max.rows', None)

"display.max_rows : int\n    If max_rows is exceeded, switch to truncate view. Depending on\n    `large_repr`, objects are either centrally truncated or printed as\n    a summary view. 'None' value means unlimited.\n\n    In case python/IPython is running in a terminal and `large_repr`\n    equals 'truncate' this can be set to 0 and pandas will auto-detect\n    the height of the terminal and print a truncated object which fits\n    the screen height. The IPython notebook, IPython qtconsole, or\n    IDLE do not run in a terminal and hence it is not possible to do\n    correct auto-detection.\n    [default: 60] [currently: 60]"

## Data Import

In [6]:
df = pd.read_csv('E:\DA&DS_Files\Python\Reinforcement Project - Python\Coffee Quality Dataset\coffeeQuality.csv')

In [7]:
df.head()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [8]:
df.describe()

,Unnamed: 0,Number.of.Bags,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Category.Two.Defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,1339.000000,1338.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1338.000000,1339.000000,1109.000000,1109.000000,1109.000000
mean,669.000000,159.085202,7.770187,7.520426,7.401083,7.535706,7.517498,7.518013,9.834877,9.835108,9.856692,7.503376,82.089851,0.088379,0.479462,0.173393,3.556385,1750.713315,1799.347775,1775.030545
std,386.680316,173.698167,5.534440,0.398442,0.404463,0.379827,0.370064,0.408943,0.554591,0.763946,0.616102,0.473464,3.500575,0.048287,2.549683,0.832121,5.312541,8669.440545,8668.805771,8668.626080
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,334.500000,14.000000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,81.080000,0.090000,0.000000,0.000000,0.000000,1100.000000,1100.000000,1100.000000
50%,669.000000,175.000000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,82.500000,0.110000,0.000000,0.000000,2.000000,1310.640000,1350.000000,1310.640000
75%,1003.500000,275.000000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,83.670000,0.120000,0.000000,0.000000,4.000000,1600.000000,1650.000000,1600.000000
max,1338.000000,3200.000000,200.000000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,90.580000,0.280000,63.000000,11.000000,55.000000,190164.000000,190164.000000,190164.000000

## Data Analysis

In [9]:
df.isnull().sum()

Unnamed: 0                  0
Species                     0
Owner                       7
Country.of.Origin           1
Farm.Name                 359
Lot.Number               1063
Mill                      318
ICO.Number                159
Company                   209
Altitude                  226
Region                     59
Producer                  232
Number.of.Bags              1
Bag.Weight                  0
In.Country.Partner          0
Harvest.Year               47
Grading.Date                0
Owner.1                     7
Variety                   226
Processing.Method         170
Aroma                       0
Flavor                      0
Aftertaste                  0
Acidity                     0
Body                        0
Balance                     0
Uniformity                  0
Clean.Cup                   0
Sweetness                   0
Cupper.Points               0
Total.Cup.Points            0
Moisture                    0
Category.One.Defects        0
Quakers                     1
Color                     270
Category.Two.Defects        0
Expiration                  0
Certification.Body          0
Certification.Address       0
Certification.Contact       0
unit_of_measurement         0
altitude_low_meters       230
altitude_high_meters      230
altitude_mean_meters      230
dtype: int64

In [14]:
#to view all columns use the below code from pandas
#pd.set_option('display.max.columns', None)
#view dataframe columns and its datatypes
#df.info()
pd.DataFrame({'Column Name': df.columns, 'Data Type': df.dtypes})

                                 Column Name Data Type
Unnamed: 0                        Unnamed: 0     int64
Species                              Species    object
Owner                                  Owner    object
Country.of.Origin          Country.of.Origin    object
Farm.Name                          Farm.Name    object
Lot.Number                        Lot.Number    object
Mill                                    Mill    object
ICO.Number                        ICO.Number    object
Company                              Company    object
Altitude                            Altitude    object
Region                                Region    object
Producer                            Producer    object
Number.of.Bags                Number.of.Bags   float64
Bag.Weight                        Bag.Weight    object
In.Country.Partner        In.Country.Partner    object
Harvest.Year                    Harvest.Year    object
Grading.Date                    Grading.Date    object
Owner.1                              Owner.1    object
Variety                              Variety    object
Processing.Method          Processing.Method    object
Aroma                                  Aroma   float64
Flavor                                Flavor   float64
Aftertaste                        Aftertaste   float64
Acidity                              Acidity   float64
Body                                    Body   float64
Balance                              Balance   float64
Uniformity                        Uniformity   float64
Clean.Cup                          Clean.Cup   float64
Sweetness                          Sweetness   float64
Cupper.Points                  Cupper.Points   float64
Total.Cup.Points            Total.Cup.Points   float64
Moisture                            Moisture   float64
Category.One.Defects    Category.One.Defects     int64
Quakers                              Quakers   float64
Color                                  Color    object
Category.Two.Defects    Category.Two.Defects     int64
Expiration                        Expiration    object
Certification.Body        Certification.Body    object
Certification.Address  Certification.Address    object
Certification.Contact  Certification.Contact    object
unit_of_measurement      unit_of_measurement    object
altitude_low_meters      altitude_low_meters   float64
altitude_high_meters    altitude_high_meters   float64
altitude_mean_meters    altitude_mean_meters   float64

## Creating new column list for Quality Measures, Bean Metadata and Farm Metadata

In [20]:
quality_measure_columns = ['Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance',
    'Uniformity', 'Clean.Cup', 'Sweetness', 'Moisture', 'Category.One.Defects']
bean_metadata_columns = ['Processing.Method', 'Color', 'Species']
farm_metadata_columns = ['Owner', 'Country.of.Origin', 'Farm.Name', 'Lot.Number', 'Mill',
    'Company', 'Altitude', 'Region']

## now creating 3 new data frames from the base data frame (df)

In [21]:
df_quality = df[quality_measure_columns].copy()
df_bean = df[bean_metadata_columns].copy()
df_farm = df[farm_metadata_columns].copy()

In [23]:
df_quality.shape

(1339, 11)

In [24]:
df_bean.shape

(1339, 3)

In [25]:
df_farm.shape

(1339, 8)

In [26]:
df_quality.sample(5)

,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Moisture,Category.One.Defects
710,7.75,7.33,7.50,7.50,7.33,7.58,10.0,10.0,10.0,0.00,0
510,7.67,7.67,7.42,7.83,7.50,7.50,10.0,10.0,10.0,0.10,1
160,7.75,7.92,7.67,7.83,7.75,7.67,10.0,10.0,10.0,0.10,0
1010,7.33,7.42,7.25,7.42,7.25,7.17,10.0,10.0,10.0,0.00,0
1057,7.00,7.33,7.50,7.33,7.00,7.33,10.0,10.0,10.0,0.11,0